* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.display {
    background-color: #fff2dae6;
    font-size: 3rem;
    height: 120%;
    min-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-x: auto;
    line-height: 1.2;
    margin: 10px;
    margin-right: 20px;
    padding-right: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px white;
}

.container {
    display: flex;
    width: 320px;
    padding: 15px;
    flex-direction: column;
    background-color: black;
    padding: 15px;
    min-width: 370px;
    max-width: 370px;
    max-height: 800vh;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.477);
}

.buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    height: 70px;
    font-size: 35px;
    border-radius: 50%;
    margin: 3px;
    box-shadow: 0.5px 0.5px 4px rgb(224, 224, 224);
    transition: .5s;
}

.item:hover {
    background-color: #fff2dae6;
    
    transition: .5s;
}

.item-grey {
    background-color: grey;
    bottom: 0;
/*     border: 0; */
}

.item-orange {
    background-color: #ff8431;
/*     border: 0; */
}

.item-darkgrey {
    background-color: darkgrey;
/*     border: 0; */
}

.equals {
    border-radius: 15px;
    grid-column: span 2;
}
